* {
  font-family: "Protest Riot", sans-serif;
}

.row {
  margin: 0px !important;
  padding: 0px !important;
}

.navbar-brand,
.nav-link {
  font-family: "Protest Riot", sans-serif !important;
}

.decorative-div {
  position: relative;
}

.decorative-div {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../images/indian-hindu-temple-singapore.jpg');
  background-size: cover;
  background-position: center;

}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -40%);
  text-align: center;
  color: white;
  animation: fadeIn 1.5s ease forwards;
  opacity: 0;
}

.decorative-div .content {
  animation-delay: 0.8s;
}

.decorative-div h2 {
  color: #007bff;
  font-size: 90px;
  margin-bottom: 60px;
}

.decorative-div p {
  font-size: 30px;
}

.logo {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 100px;
  height: auto;
  animation: fadeIn 1.5s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#places_outer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

#places_carousel {
  max-width: 65%;
}

#places_carousel_back img{
  width: 100vw !important;
}

#places_carousel_back img {
  filter: brightness(30%) blur(4px);
}

#places_carousel_back {
  position: absolute;
}

#places_carousel .carousel-item:hover {
  cursor: pointer;
}

.carousel-caption h5 {
  color: white !important;
  border-radius: 50px;
  font-size: 30px;
  font-weight: bold;
}

#carousel-states {
  width: 100% !important;
  height: 100vh !important;
}

#carousel-states .carousel-item {
  font-size: 100px !important;
  text-align: center;
  letter-spacing: 10px;
  height: 100vh !important;
}

#carousel-states .carousel-item img {
  height: 100vh !important;
  filter: blur(7px) !important;
}

#carousel-states .carousel-caption {
  color: black !important;
  position: absolute;
  top: 50%;
  transform: translateY(-35%);
  text-align: center;
}

#carousel-states .carousel-item:hover {
  cursor: pointer !important;
}

#carousel-states .carousel-control-prev-icon,
#carousel-states .carousel-control-next-icon {
  color: black !important;
  background-color: black !important;
}

#carousel-states button {
  opacity: 1 !important;
}

@media (max-width: 320px) {
  .decorative-div {
    padding-bottom: 10px !important;
  }
}

@media (max-width: 578px) {
  .decorative-div h2 {
    font-size: 50px;
  }

  .decorative-div p {
    font-size: 25px;
  }

  .decorative-div {
    padding: 150px 60px 100px 60px;
  }

  #places_carousel {
    max-width: 55%;
  }

  .carousel-caption h5 {
    font-size: 13px !important;
  }

  .carousel-indicators button {
    margin-bottom: -15px !important;
  }
}

@media (max-width: 768px) {
  .decorative-div {
    padding: 150px 60px 100px 60px;
  }

  #places_carousel {
    max-width: 60%;
  }

  .carousel-caption h5 {
    font-size: 20px !important;
  }

  .carousel-indicators button {
    margin-bottom: -10px !important;
  }
}

@media (max-width: 945px) {
  #places_outer {
    margin-top: -90px !important;
  }
}


.div-image {
  width: 500px;
  height: 100%;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 10;
  width: 95%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.distributionDiv .image-container h1 {
  display: none;
  margin-left:25%;
}

.distributionDiv {
  margin: 200px auto !important;
}

.distributionDiv div:hover {
  cursor: pointer;
}

@media (max-width:1200px) {
  .overlay {
    width: 93%;
  }
}

@media (max-width:990px) {
  .overlay {
    width: 90%;
  }
}

@media (max-width:768px) {
  .overlay {
    display: none;
  }

  .image {
    margin-bottom: 20px;
    max-width: 300px
  }

  .distributionDiv .image-container h1 {
    display: inline;
  }
}

@media (max-width:330px){
  .distributionDiv .image-container h1{
    font-size: 25px !important;
  }
}

@media (max-width:270px){
  .distributionDiv .image-container h1{
    font-size: 20px !important;
  }
}