* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url(asian-couple-tourist-holding-city-map-crossing-road.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

#c2 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.booking-form {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    width: 100%;
    width: 900px;
    background-color: hsla(300, 19%, 12%, 0.5);
    max-width: 900px;
    margin-top: 3px;
}

hr {
    border: 2px solid black;
}

.booking-form h2 {
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
    letter-spacing: 1.9px;
    text-transform: uppercase;
    text-decoration: underline;
}

.form-input {
    border: none;
    border-radius: 25px;
    padding: 15px 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    transition: transform 0.5s ease;
    margin-bottom: 20px;
}

.form-input:focus {
    background-color: white;
    outline: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transform: scale(1.03)
}

::placeholder {
    font-weight: 600;
}

.form-label {
    font-weight: 550;
    color: white;
}

#check-div {
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}

#check-div pre {
    display: inline;
}

.btn-primary,
.btn-danger {
    border: none;
    border-radius: 25px;
    padding: 15px 0px;
    width: 100%;
    cursor: pointer;
    color: white;
    font-size: 20px;
    transition: background-color 0.5s ease;
}

.btn-primary {
    background-color: #3f51b5;
}

.btn-primary:hover {
    background-color: #303f9f;
}

.btn-danger {
    background-color: #da1e37;
}

.btn-danger:hover {
    background-color: #bd1f36;
}

textarea {
    resize: none;
}

@media (max-width: 576px) {
    .booking-form {
        padding: 30px;
    }
}